<app-form-edit-info>
    <form (ngSubmit)="onCreate()" novalidate #f="ngForm"> 
        <div class="form-group">
            <label for="link"> Link del contacto </label>
            <input type="text" class="form-control" id="link" name="link" [(ngModel)]="link" required="">
        </div>

        <div class="form-group">
            <label for="img"> Imagen</label>
            <input type="file" class="form-control" id="img" name="img" [(ngModel)]="img" required="" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
        </div>
        <div class="imagen">
            <img [src]="img" width="200px" alt="">
        </div>
        <button class="btn btn-primary" >
            Agregar contacto
        </button>
    </form>
</app-form-edit-info>