<nav class="navbar navbar-expand-lg bg-dark ">
    <div class="container-fluid ">
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
  
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 lista justify-content-center" >

          <li class="nav-item">
            <img src="../../assets/imagenes/argentinaprograma.png" alt="">
          </li>
          <li class="nav-item">
            <a class="nav-link text-light yoprogramo"> #YoProgramo</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-light " aria-current="page" href="#"> Home</a>
          </li>
   
          <li class="nav-item">
            <button class="nav-link text-light login" (click)="login()" *ngIf="!isLogged"> Login</button>
            <button class="nav-link text-light login" (click)="onLogOut()" *ngIf="isLogged"> Cerrar sesion</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>