
<!--Sobre mi-->

<div class="container-fluid row" id="perfil">
    <h1>Acerca de mi</h1>
    <div class="col d-flex">
       
      <div class="col-2">
        <img src={{persona.img}} alt="" class="img-perfil">
      </div>
      <div class="col texto-cerca-de-imagen">
        <div class="row">
          <div class="col texto">
            <h1 id="nombre">{{persona.nombre}} {{persona.apellido}}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col texto">
            <span>
             
              <p>{{persona.descripcion}}</p>
            </span>
          </div>
          <td *ngIf="isLogged">
            <button class="btn btn-light" routerLink="/editacercade/1"><i class="bi bi-pencil-fill"> EDITAR </i></button>
          </td>
        </div>
      </div>
    </div>

  </div>