
<!--Mis capacidades-->
<section class="mis-capacidades"> 
    <div class="container-fluid">
        <h1> Mis capacidades</h1>
        <div class="row">
            <div class="col-md-3">
                <img src="../../assets/imagenes/html.png" alt="">
            </div>
            <div class="col-md-3">
                <img src="../../assets/imagenes/css.png" alt="">
            </div>
            <div class="col-md-3">
                <img src="../../assets/imagenes/js.png" alt="">
            </div>
            <div class="col-md-3">
                <img src="../../assets/imagenes/php.png" alt="">
            </div>
        </div>
        <div class="row">

            <div class="col-md-3">
                <img src="../../assets/imagenes/mysql.png" alt="">
            </div>
            <div class="col-md-3">
                <img src="../../assets/imagenes/angular.png" alt="">
            </div>
            <div class="col-md-3">
                <img src="../../assets/imagenes/java.png" alt="">
            </div>
            <div class="col-md-3">
                <img src="../../assets/imagenes/springboot.png" alt="">
            </div>
        </div>

    </div>
    
</section>