

<section class="mis-redes">
    <section class="container-fluid ">
        <h1> Contactame</h1>
        <div class="mis-redes-contenido">
            
            <div class="row">
              <div class="col-md-6">
                <button class="boton-red" (click)="irRed('https://www.linkedin.com/in/gastón-heinz-68a48424a/')">
                
                  <img src="../../assets/imagenes/linkedin.png" alt="" />
                </button>
              </div>
            
              <div class="col-md-6">
                <button class="boton-red" (click)="irRed('mailto:gastonheinz88@gmail.com?subject=Introduzca asunto&body=Introduzca cuerpo del correo') ">
            
                  <img src="../../assets/imagenes/gmail.png" alt="" />
                </button>
              </div>
        </div>
        
    </div>
</section>
